body{
    background-color: chocolate;
}

.title{
    font-size: 2em;
    color: rgb(253, 253, 253);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleofcards{
    font-size: 2.5em;
    Color: rgb(253, 253, 253);
    justify-content: space-around;
}
.texto{
    font-size: 20px;
    font-size: 10%;
    font-family: Arial, Helvetica, sans-serif;
 
}
.Logo{
    width: 300px;
    margin: auto;
    height: 200px;
}    
.cards{
    border: 2px solid aliceblue;
    width: fit-content;
    padding: 1px 0em 0em 0em;
    border-radius: 3%;
    transition: 1.5s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.cards:hover{
    background-color: rgb(253, 253, 253);
}
#cards-container{
    
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border-radius: 15px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Principal{

    font-size: 4em;
    font-family: cursive;
    color: rgb(253, 253, 253);
}
#titulos2{
    width: 50vw;
    margin: auto;
    padding: 2em;
}
#textobase{
    font-size: 1.5em;
    font-family: sans-serif;
    margin: 2em;
}